{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.duct-framework/logger {:mvn/version "0.4.0"}
        org.duct-framework/handler {:mvn/version "0.1.0"}
        org.duct-framework/server.http.jetty {:mvn/version "0.3.0"}
        org.duct-framework/router.reitit {:mvn/version "0.3.0"}
        integrant/integrant {:mvn/version "0.13.1"}
        org.slf4j/slf4j-nop {:mvn/version "2.0.16"}
        org.webjars/normalize.css {:mvn/version "5.0.0"}
        ring/ring-core {:mvn/version "1.13.0"}
        ring/ring-devel {:mvn/version "1.13.0"}
        ring/ring-defaults {:mvn/version "0.5.0"}
        ring-webjars/ring-webjars {:mvn/version "0.3.0"}}}
